html {
    background-color: #FFC04C;
}

body {
    background-color: #FFC04C;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

#yummy_burger{
    display: block;
    margin: auto;
}

img{
    margin-left: 475px;
    margin-top: 45px;
}

.button{
    border-bottom: 44px;
}

.col-md-5 devouredDiv{
    padding-left: 200px;

}
/* .btn-btn-default-devourButton */

.eaten{
    /* margin-left: 200px; */
}

h1{
    font-family: Taco Modern;
    font-size: 55px;
     
}
.cook{
    border-left: 55px;
    /* margin-left: 100px; */
}